@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body{
    font-family: 'GmarketSansMedium', sans-serif;
    text-align: center;
    /*가운데 정렬, 블록 컨테이너 요소에만 적용
    img는 블록 컨테이너 요소가 아님 (아무것도 contain할수 없으니까)
    따라서 img를 부모 요소 컨테이너 안에 넣고 나서
    text-align: center해주어야 함*/
}

#logo{
    margin-top: 50px;
}

#title{
    margin-top:50px;
    font-size:42px;
}

#explain{
    margin-top:20px;
    font-size:15px;
}

#email{
    margin-top:10px;
}

#userinput{
    font-family: 'GmarketSansMedium', sans-serif;
    /*왜 placeholder랑 button에 폰트 적용이 안되지...? 따로 해줌 ㅠ*/
    width:300px;
    height:30px;
    border-radius: 15px;
    border: 2px solid rgb(200,200,200);
    outline:none;
    padding-left:15px;
}

#userinput:focus{ /*클릭 시 테두리 색상 변경*/
    border-color:rgb(0,0,0);
}

#submit{
    font-family: 'GmarketSansMedium', sans-serif;
    width:100px;
    height:34px;
    border-radius:15px;
    border:none;
    color:white;
    background-color: hsl(223, 87%, 63%);
}

#submit:hover{
    background-color:hsl(223, 100%, 88%);
}

.hidden{
    visibility: hidden;
}

#error{
    font-size: 12px;
    color:hsl(354, 100%, 66%);
    margin-right:250px;
}


#illustration{
    margin-top:20px;
    width:500px;
    display:block;
    margin-left:auto;
    margin-right:auto;
}

#illustration img{
    width:100%;
}

#social{
    display:flex;
    justify-content: center;
    /*flexbox 참고
    https://studiomeal.com/archives/197*/
}

#icon{
    width:30px;
}

#copyright{
    font-size:11px;
    color:rgb(200,200,200);
}